---
layout: base.njk
title: La Miellerie d'Amélie - Accueil
---

<div class="flex justify-center items-center h-screen relative">
  {% include "waves.njk" %}
  <div class="z-10">
    <h1 class="logo">La Miellerie<br/>d'Amélie</h1>
    <p class="subtitle">ENTRE SEINE ET OISE</p>
  </div>
  <div class="absolute bottom-4">
    <a href="#presentation" class="flex items-center group">
      <img src="assets/img/up-arrow.png" class="opacity-0 group-hover:opacity-100 group-hover:translate-y-2 transition rotate-180 h-12" alt="">
    </a>
  </div>
</div>
<div class="px-4 py-12 pt-24 md:grid grid-cols-2 gap-8 container mx-auto" id="presentation">
  <div class="description mt-4 mb-8 md:mt-0 md:h-full md:flex md:flex-col md:justify-center">
    <div class="js-interaction lg:px-20">
      {% set title = 'Présentation' %}
      {% set color = 'bright' %}
      {% include "components/title.njk" %}
      <p class="mb-4 md:text-xl">
        La Miellerie d'Amélie vous accueille à Neuville-sur-Oise.

        Grâce à un partenariat avec la commune,
        nous produisons du miel et intervenons dans les écoles et les maisons de retraite pour sensibiliser petits et grandss.
        De 5 à 99 ans, tout est bon pour parler abeille !
      </p>
    </div>
  </div>
  <div class="hidden md:items-center js-interaction">
    <img src="assets/img/rucher-de-neuville.jpeg" class="w-full h-140 object-cover rounded-xl" />
  </div>
  <div class="md:items-center md:flex js-interaction">
    <img src="assets/img/rucher.jpeg" class="w-full h-140 object-cover rounded-xl" />
  </div>
</div>
<div class="py-12">
  <img src="assets/img/honey-half.svg" class="w-full -mb-[1px]" />
  <div class="py-12 md:pb-24 bg-primary">
    <div class="services mb-14 md:mb-0 px-4 container mx-auto">
      <div class="text-center mb-20">
        {% set title = 'Nos services' %}
        {% set color = 'dark' %}
        {% include "components/title.njk" %}
      </div>
      <div class="md:flex justify-around gap-4">
        <div class="relative border-solid border-black border-2 rounded-xl py-8 px-6 max-w-[310px] mx-auto mb-12 md:mb-0">
          <div class="absolute -top-4 px-2">
            <h3 class="px-2 bg-primary font-bold text-lg flex">
              <img src="assets/img/honey.png" class="w-8 inline p-0 mr-4 ml-2 h-full" />
              Vente de miel
            </h3>
          </div>
          <div class="pt-4 text-center">
            Description vente de miel, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    Si vous voulez acheter notre miel, <a class="underline">contactez-nous</a>
          </div>
        </div>
        <div class="relative border-solid border-black border-2 rounded-xl py-8 pl-5 pr-6 mx-auto max-w-[310px] mb-12 md:mb-0">
          <div class="absolute -top-4 px-2">
            <h3 class="pr-2 bg-primary font-bold text-lg flex">
              <img src="assets/img/beehive.png" class="w-10 inline p-0 mr-4 ml-2 h-full" />
              Parrainage de ruche
            </h3>
          </div>
          <div class="pt-4 text-center">
            Description Parrainage de ruche, test texte Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    Si vous voulez acheter notre miel, <a class="underline">contactez-nous</a>
          </div>
        </div>
        <div class="relative border-solid border-black border-2 rounded-xl py-8 px-6 max-w-[310px] mx-auto mb-12 md:mb-0">
          <div class="absolute -top-4 px-2">
            <h3 class="px-2 bg-primary font-bold text-lg flex">
            <img src="assets/img/presentation.png" class="w-10 inline p-0 mr-4 ml-2 h-full" />
              Intervention
            </h3>
          </div>
          <div class="pt-4 text-center">
            Description Intervention, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    Si vous voulez acheter notre miel, <a class="underline">contactez-nous</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/img/honey-half.svg" class="w-full rotate-180 -mt-[1px]" />
</div>
<div class="actualites py-12 px-4 container mx-auto max-w-[50rem] ">
    <div class="text-center mb-20">
      {% set title = 'Nos actualités' %}
      {% set color = 'bright' %}
      {% include "components/title.njk" %}
    </div>
    <div class="container md:mb-8">
      {%- for post in collections.post | head(-4) | reverse -%}
        <div class="border-solid border-2 border-black
        md:mx-2
        w-full
        md:flex
        rounded-xl mb-8 overflow-hidden">
            <div class="flex-none max-h-64 md:max-h-full md:max-w-max md:w-64 overflow-hidden 
            {% if loop.index % 2 === 0 %}order-1{% endif %}">
              <img src="{{post.data.image}}" class="h-full w-full object-cover" />
            </div>
            <div class="flex-auto p-8">
              <h3>
                {{ post.data.title }}
              </h3>
              <div class="pb-4"><i>le {{post.date.toLocaleDateString()}}</i></div>
              <p>{{ post.templateContent | safe }}</p>
            </div>
        </div>
      {%- endfor -%}
    </div>

    <div class="flex justify-center">
      <a class="button" href="/nos-actualites">
        Voir toutes nos actus
      </a>
    </div>
</div>
<div class="py-12">
  <img src="assets/img/honey-half.svg" class="w-full -mb-[1px]" />
  <div class="py-12 bg-primary px-4 md:px-0">
    <div class="text-center mb-20">
      {% set title = 'Contactez-nous' %}
      {% set color = 'dark' %}
      {% include "components/title.njk" %}
    </div>
    <div class="text-center md:w-[520px] md:mx-auto">
      <p class="mb-4">
        Vous pouvez nous contacter directement via le formulaire ci-dessous ou par mail directement miellerie.amelie@protonmail.com ou par téléphone au 07 49 19 39 31
      </p>
      <form name="site-lamielleriedamelie" method="POST" data-netlify="true">
        <p>
          <label><input type="email" name="email" placeholder="adresse email" class="focus:border-2" required /></label>
        </p>
        <p>
          <label><textarea name="message" placeholder="message" class="focus:border-2" required></textarea></label>
        </p>
        <p>
          <button type="submit" class="button">Envoyer</button>
        </p>
      </form>

    </div>
  </div>
  <img src="assets/img/honey-half.svg" class="w-full rotate-180 -mt-[1px]" />
</div>

{% include "footer.njk" %}
